body {
  color: black;
  background-color: white;

  font-family: monospace;
  font-size: 1.3rem;
  line-height: 1.3rem;
}

.wrapper {
  width: fit-content;
  max-width: 640px;
  margin: 4rem auto;
}

h1 {
  line-height: 2rem;
}